<div class="container">
<h1><%= @list.name %></h1>
<ul>
<% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.comment %> <%= link_to "Destroy", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
<%end %>
</ul>

<%= link_to "Create a bookmark", new_list_bookmark_path(@list), class:"text-decoration-none" %><br>

<%= link_to "back to main", lists_path, class:"text-decoration-none" %>
</div>
